body {
    background-color: pink;
    font-family: "Quicksand",  sans-serif;
}

h1 {
    color: aqua;
    border-style: double;
    border-width: 1px;
    border-color: aqua;
    position: absolute;
    left: 100px;
    top: 200px;
}

p {
    color: grey;
}

.green-text {
    color: grey;
}

.important {
    width: 50%;
}

.important:hover {
    background-color: blue;
}

a[href="www.linkedin.com/in/malik-bradley-322001164"] {
    background-color: red;
}

a[href="https://www.steelers.com/"] {
    background-color: rgb(255, 0, 0);
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.fa-truck-fast {
    color: magenta;
}   
