body {
    background-color: pink;
    font-family: "Quicksand", sans-serif;
    transition: background-color 5s ease-in-out;
}

h1 {
    color: aqua;
    border-style: double;
    border-width: 6px;
    border-color: aqua;
    position: top;
    left: 100px;
    top: 200px;
    transition: color 3s linear, border-color 3s ease-in-out, left 5s ease-in-out, top 5s ease-in-out;
}

p {
    color: grey;
    transition: color 3s ease-in-out;
}

.important {
    width: 50%;
}

.important:hover {
    background-color: blue;
    transition: background-color 3s ease-in-out;
}

a[href="www.linkedin.com/in/malik-bradley-322001164"],
a[href="https://www.steelers.com/"] {
    background-color: whitesmoke;
    transition: background-color 3s ease-in-out;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.fa-truck-fast {
    color: magenta;
    transition: color 3s ease-in-out;
}

