body {
    font-family: "quicksand", sans-seriff;
    background-color: #f9f9f9;
    transition: background-color 2s ease-in-out;
}

h1 {
    color: #333;
    text-align: center;
    transition: color 3s ease-in-out;
}

p {
    color: #555;
    transition: color 3s ease-in-out;
}

.job-title {
    font-weight: bold;
    color: #007bff;
    transition: color 3s ease-in-out;
}

.job-details {
    margin-left: 20px;
}

.job-details p {
    margin-bottom: 10px;
}

.important {
    font-weight: bold;
    color: #28a745;
    transition: color 3s ease-in-out;
}

.important:hover {
    color: #dc3545;
    transition: color 3s ease-in-out;
}

a {
    color: #007bff;
    transition: color 3s ease-in-out;
}

a:hover {
    color: #0056b3;
    transition: color 3s ease-in-out;
}

a[href="www.linkedin.com/in/malik-bradley-322001164"] {
    color: #007bff;
    transition: color 3s ease-in-out;
}

a[href="www.linkedin.com/in/malik-bradley-322001164"]:hover {
    color: #0056b3;
    transition: color 3s ease-in-out;
}

footer {
    text-align: center;
    margin-top: 50px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: background-color 3s ease-in-out, color 3s ease-in-out;
}

.fa-truck-fast {
    color: #f39c12;
    transition: color 3s ease-in-out;
}